<div id="<%= dom_id profile %>">
  <p>
    <strong>Name:</strong>
    <%= profile.name %>
  </p>

  <p>
    <strong>Date of birth:</strong>
    <%= profile.date_of_birth %>
  </p>

  <p>
    <strong>User:</strong>
    <%= profile.user_id %>
  </p>

  <%= link_to image_tag(profile.avatar, style: "width: 150px; heigth: 150px;"), profile.avatar if profile.avatar.attached? %>

</div>
